<extend name='Index/index' />
<block name='main'>
<div class="l_main">
    <!--ucPersonalColumn 开始-->
    <div class="l_pgr_l01">
        <div id="firstpane01" class="menu_list">
            <!--个人资料-->
            <p onclick="_ucPserCol.headClick(1)" class="menu_head01" style="border-top: none;">
                <img src="__PUBLIC__/Home/images/gr_j.png" height="12" width="16">个人资料</p>
            <div id="Body_1" style="display: none" class="menu_body01">
                <a href="{:U('Person/baseinfo')}" style="">基本信息</a>
                <a href="{:U('Person/modifypwd')}" style="">修改密码</a>
                <a href="{:U('Person/modifyads')}" style="color: #a50049; font-weight: bold;">收货地址</a>
            </div>
            
            <!--我的订单-->
            <p onclick="_ucPserCol.headClick(2)" class="menu_head01" style="background: #f4f8fb">
            <img src="__PUBLIC__/Home/images/gr_j.png" height="12" width="16">我的订单</p>
            <div id="Body_2" style="display: none" class="menu_body01">
                <a href="{:U('Order/order')}" style="">全部订单</a>
                <a href="{:U('Order/order')}?order_status=1" style="">未付款</a>
                <a href="{:U('Order/order')}?order_status=2" style="">待收货</a>
                <a href="{:U('Order/order')}?order_status=3" style="">待评价</a>
                <a href="{:U('Order/order')}?order_status=4" style="">已完成</a>
                <a href="{:U('Order/order')}?order_status=5" style="">退款</a>
            </div>
            
        </div>

        <script type="text/javascript">
            var _ucPserCol = {
                column: "PersonalAddress",
                headClick: function (n) { }
            };
            $(function ()
            {
                if (_ucPserCol.column == "PersonalBaseInfo"
                    || _ucPserCol.column == "PersonalPassWord"
                    || _ucPserCol.column == "PersonalAddress"
                    )
                {
                    $("#Body_1").show();
                }
                else if (_ucPserCol.column == "WAIT_BUYER_PAY"
                    || _ucPserCol.column == "WAIT_BUYER_CONFIRM_GOODS"
                    || _ucPserCol.column == "WAIT_BUYER_COMMENT"
                    || _ucPserCol.column == "TRADE_FINISHED"
                    || _ucPserCol.column == "GOODS_REFUNDING"
                    ) {
                    $("#Body_2").show();
                }
                else if (_ucPserCol.column == "MyCouponList") {
                    $("#Body_3").show();
                }
            });
            _ucPserCol.headClick = function (n)
            {
                if (n == 0)
                {
                    $("#Body_1").slideUp("slow");
                    $("#Body_2").slideUp("slow");
                    $("#Body_3").slideUp("slow");
                }
                else if (n == 1)
                {
                    $("#Body_2").hide();
                    $("#Body_3").hide();
                    $("#Body_1").slideDown("slow");
                }
                else if(n==2)
                {
                    $("#Body_1").hide();
                    $("#Body_3").hide();
                    $("#Body_2").slideDown("slow");
                }
                else if (n == 3) {
                    $("#Body_1").hide();
                    $("#Body_2").hide();
                    $("#Body_3").slideDown("slow");
                }

            };
        </script>
    </div>

    <div class="j_peisonyou fr">
        <div class="j_personal_frall fr">

            <div class="j_personal_gytl">收货地址&nbsp;&nbsp;<font style="color:#333333; font-family:simsun; font-size:12px;">(带<font class="j_green">* </font> 为必填)</font>
                <font  style=" float:right; font-size:14px; font-weight:bold; color:#8d0049; font-size:16px; "><a href="javascript:void(0)" class='addadress'>新增收货地址</a></font>
            </div>

            <div class="j_personl_d">
                <table width="100%" border="0" cellpadding="0" cellspacing="0" style="border:1px solid #e7e7e7; border-top:none; margin-top:8px; font-size:14px;" class="j_table">
                  <tr height="40" style="background:#f2f2f2; color:#000; ">
                    <td width="17%">收货人</td>
                    <td width="34%">收货地址</td>
                    <td width="23%">电话/手机</td>
                    <td width="15%">操作</td>
                    <td width="11%">&nbsp;&nbsp;</td>
                  </tr>
                <volist name='data' id='vo'>
                  <tr>
                    <td height="50">{$vo.reciveName}</td>
                    <td>{$vo.province}{$vo.city}{$vo.county}{$vo.more}</td>
                    <td>{$vo.recivePhone}</td>
                    <td>
                        <a href="javascript:void(0)" class="modify" data="{$vo.id}">修改</a>丨
                        <a href="javascript:void(0)" class="delete" data="{$vo.id}">删除</a>
                        <input type="hidden" value='{$vo.status}'>
                    </td>
                    <if condition="$vo.status eq 1">
                    <td><span class="j_mradd">默认地址</span></td>  
                    </if>     
                  </tr>               
                </volist> 
                </table>
            </div>
        </div>
    </div>
<script>
    $('.addadress').click(function(){
        var id=$(this).attr('data');
        $.get("{:U('Adress/adress')}",{"id":id});
        layer.open({
          type: 2,
          title: '陶瓷网',
          shadeClose: true,
          shade: 0.3,
          area: ['1200px', '666px'],
          content: '{:U("Adress/adress")}' //iframe的url
        });
    })

    
    //删除地址
    $('.delete').click(function(){
        var bool=$(this).next().val();
        if(bool=='1'){
            layer.open({
                type: 1,
                title:'淘瓷网',
                time:3000,
                area: ['300px', '150px'],
                shadeClose: true, //点击遮罩关闭
                content: '<div style="padding:20px;text-align:center;font-size:13px">默认地址不能删除</div>'
            });
        }else{
            var id=$(this).attr('data');
            $.ajax({
                type:"POST",
                url:"{:U('CheckInfo/delete')}",
                data:"id="+id,
                success:function(msg){
                    if(msg=='ok'){
                        layer.open({
                            type: 1,
                            title:'淘瓷网',
                            time:3000,
                            area: ['300px', '150px'],
                            shadeClose: true, //点击遮罩关闭
                            content: '<div style="padding:20px;text-align:center;font-size:13px">删除成功</div>'
                        });
                        location.reload();
                    }else{
                        layer.open({
                            type: 1,
                            title:'淘瓷网',
                            time:3000,
                            area: ['300px', '150px'],
                            shadeClose: true, //点击遮罩关闭
                            content: '<div style="padding:20px;text-align:center;font-size:13px">删除失败</div>'
                        });
                    }
                }
            })
        }
    })

    //修改地址
    $('.modify').click(function(){
        var id=$(this).attr('data');
        $.get("{:U('Adress/modifyid')}",{"id":id},function(msg){
            if(msg=='ok'){
                layer.open({
                  type: 2,
                  title: '陶瓷网',
                  shadeClose: true,
                  shade: 0.3,
                  area: ['1200px', '666px'],
                  content: '{:U("Adress/modify")}' //iframe的url
                });
            }
        });
    })
</script>
</block>